---
title: Home
layout: plain

image:  /assets/headers/kankoda.jpg

description: The Kankoda Web Design System is used by the company website and its various product sites.
---

<div class="hero glow">
  <h1>Kankoda Design System</h1>
  <h2>Showcase</h2>
  <p>This website will be updated with all the available components, to ensure that they all render correcntly through updates.</p>
</div>

<a name="download"></a>
<section class="showcase blue">
  <article class="wrapper wide slide-in">
    <h2>Buttons</h2>
    <h3>App Store</h3>
    <div>
      {% include kankoda/buttons/appstore %}
      {% include kankoda/buttons/appstore color="black" %}
    </div>
    <h3>Social</h3>
    <div class="icon-group">
      {% include kankoda/buttons/social url=site.urls.bluesky type="bluesky" %}
      {% include kankoda/buttons/social url=site.urls.instagram type="instagram" %}
      {% include kankoda/buttons/social url=site.urls.mastodon type="mastodon" %}
    </div>
  </article>
</section>